[2019-05-16 14:36] ercillagorka opened #18 "Scan View Controller Localization"
Hi!
Could you add some initialization or method to change the texts in Scan View Controller?
Thanks!

[2019-05-16 14:50] kingst commented on #18
We have one already -- we just haven't added documentation. If you implement the [ScanStringsDataSource](https://github.com/getbouncer/cardscan-ios/blob/054d977bad2910c2d73632934f7169e82ec49069/CardScan/Classes/ScanViewController.swift#L27) protocol you can customize the strings.

You can see an example of how to use this protocol [here](https://github.com/getbouncer/cardscan-ios/blob/054d977bad29

[2019-05-16 15:36] ercillagorka commented on #18
Sorry, I had an old version of the pod and did not find it.
Thank you!

[2019-05-16 15:36] #18 closed

[2019-06-18 22:11] AhmadOdeh93 opened #22 "Can not edit any thing"
hey,
first thanks very much this library awesome
i need any advice to edit some points :
1- Hide flash button or change the icon .
2- change the corner radius for indicator in the corner focus area , and change color of it .
3- this point very important any way to hide the text (numbers & expiry date) after catch the info from card , i mean when catch the card number the number show before dismiss

[2019-06-18 22:38] kingst commented on #22
For changing fonts we do have the ability to customize these, we just pushed a release today that handles it. In terms of the flash light button and corners, did you have an example of what you want to change it to?

Showing the number is a fairly important part of the user experience for most apps because we continue to scan while doing error correction after we capture the first number. Without

[2019-06-19 07:19] AhmadOdeh93 commented on #22
thank you for fas response , you can check image below please , i show on it what i want change , first border color or width , about the green corner i want change the color , about flash light button i can hide it ? about showing the number i'm with you its important part but i mean just hide the label or make the color clear .

<img width="409" alt="Screenshot 2019-06-19 at 10 14 39" src="https

[2019-06-20 01:11] kingst commented on #22
Thanks for the feedback! I don't think we'll be able to do this now, but we'll add it to our backlog!

[2019-06-21 11:09] deda9 opened #24 "SDK didnt handle scanning error"
While I was trying to handle the scan credit card's failure, there is no firing for the error when it happened:

**for instance:**

[code]
**Here:**
It checks if the number is nill (which means there is an error while scanning) then it returns without call `self.scanDelegate?.userDidScanCard` which means didn't fire the error?

Maybe there is something I'm missing, but I would appreciate if you co

[2019-06-21 12:51] kingst commented on #24
The `performWithErrorCorrection` function should never return a result with `done` set to true and `number` set to nil. The library doesn't really have an explicit error state, it'll keep scanning until it's able to pull out a credit card number.

Are you looking to detect a situation where the user is struggling to scan or are you making sure that you're handling all of the error cases from the l

[2019-06-21 15:56] deda9 commented on #24
Hallo @kingst
Thank you for your reply.
Yeah I am trying to track and show error message for the user if the SDK failed to scan the CC, I have been thinking because of the internal code check on the number's value with nil.

Does that mean that the scanning is recursive till it gets the result?

[2019-06-21 16:12] kingst commented on #24
Yes, it will scan indefinitely until the user cancels (ie presses the back button). We do have the ability to stop scanning after a period of time, but it's something that you'd implement on your end. Here's how it would work for a 20 second timeout, and you'd put something like this in your app: https://github.com/getbouncer/cardscan-ios/blob/65adaa7918a1607818f0f959dc35b0bf875c830b/Example/CardS

[2019-06-23 20:11] AhmadOdeh93 commented on #22
Thank you , but you can’t give me any hint to do this ? i tried change it or hidden from storyboard and from the code but nothing change

[2019-06-25 08:56] deda9 commented on #24
Hallo @kingst Thanks for your reply.

[2019-06-25 14:47] kingst commented on #24
Let me know if you need anything else, but closing this issue for now.

[2019-06-25 14:47] #24 closed

[2019-06-25 14:49] kingst commented on #22
Most of our UI is in the storyboard, but the two parts that are in code are (1) the mask layer with tinted background and a clear hole for the card and (2) the corners. So if you want to change most UI elements it's done through the storyboard but the mask and corners are in code. I'm closing this issue, but let me know if you need any more help.

[2019-06-25 14:49] #22 closed

[2019-07-10 21:48] dominiquealexi opened #35 "Error in declaring network."
Most of our users are getting a crash with this error. I can run it fine on my device, and my handful of testers can run the application just fine.

Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=com.apple.CoreML Code=0 "Error in declaring network." UserInfo={NSLocalizedDescription=Error in declaring network.}: file **[path to project]**/Pods/CardScan/CardScan/Classes/Mo

[2019-07-10 21:58] kingst commented on #35
Which version of the library are you using? We discovered this a few weeks ago and put out a fix. The latest version of the library, version 1.0.4059, should contain the bug fix.

To trigger the bug you have to put your app in the background immediately after launching it. There is a rare race condition that can happen when the machine learning models initialize when the app is in the background.

[2019-07-10 22:08] dominiquealexi commented on #35
We were using 1.0.4049! Just upgraded to 1.0.4059 and will see what happens. Thank you!

[2019-07-10 22:20] kingst commented on #35
Great, please do keep me updated either way. BTW: I'm surprised that most of your users are seeing the crash, in our experience it should have been between 0.2% and 0.6%. Would you be open to chatting on slack so I can get a little more information?

https://getbouncer.slack.com/messages/CDQ8ULAL9/convo/GK1N3GC66-1561853894.120200/

[2019-07-10 22:47] dominiquealexi commented on #35
Can't seem to access that--my email is my username here @ gmail :)

[2019-07-11 15:33] kingst commented on #35
Closing out this issue, based on slack chat this is the same issue we saw previously. Please do re-open this issue if you see any more crashes.

[2019-07-11 15:33] #35 closed

[2019-07-31 03:54] otnielyehezkiel opened #49 "Fatal Error when run configure in AppDelegate"
Device Iphone 6+
OS Version 12.4
XCode Version 10.3

**Fatal error: Unexpectedly found nil while unwrapping an Optional value**
![image](https://user-images.githubusercontent.com/8150672/62182556-343bd400-b381-11e9-8da0-f75e14fe5e00.png)

thanks before 🙇

[2019-07-31 09:31] kingst commented on #49
We dropped support for the iPhone 6 and 6 plus recently. Would it be useful to add an option to still support these older devices?

[2019-07-31 09:32] kingst commented on #49
Also, we have an `isCompatible` static method on the `ScanViewController` class which you should use proactively to check if a device will work with CardScan.

[2019-08-01 09:34] otnielyehezkiel commented on #49
There are +- 20 percentage user using Iphone 6 and Iphone6+ in our apps. I think i must consider using another 3rd party.
Anw, thanks for information @kingst 👍

[2019-08-01 13:05] kingst commented on #49
This change was fairly recent for us, so it's good to hear this feedback. Before you switch to another library try version `1.0.5002`, which is the last one with iPhone6 / 6+ support. I'd love to get your feedback on it!

[2019-08-01 14:12] otnielyehezkiel commented on #49
oke sure, will try `1.0.5002` version first.

[2019-08-02 09:51] preetamjadakar commented on #49
@kingst : May I know whats the major difference between current version and earlier `1.0.5002` ?
Why the support for iPhone6 was dropped? Any major benefits we achieved by dropping support for older devices?

[2019-08-02 13:01] kingst commented on #49
The only difference is that we dropped iPhone 6 support. We did this to make integration easier for one of our customers who sees less than 3% of their traffic from iPhone 6 and older. The major benefit is that the GPUs on older devices don't work as well for our machine learning models as the newer GPUs do.

Sounds like there is some interest in continuing to support older iPhones. Try out versio

[2019-08-14 17:35] kingst commented on #49
Hi @otnielyehezkiel and @preetamjadakar any updates, did it work well for your users?

FYI: We have a new model architecture coming out in the next few months that will add iPhone 6 back, but these things are hard so it will take some time.

[2019-08-26 05:13] preetamjadakar commented on #49
Hey @kingst , sorry for delayed response.
I was on one POC and everything went excellent. Thanks you some much.

Please update us on next major release, will be glad to go through and check it out.

[2019-09-01 23:05] Sidetalker opened #72 "How can I import the Stripe functionality using Carthage"
After integrating CardScan via Carthage I found myself unable to access the Stripe extension - is this something I can do via Carthage?

[2019-09-01 23:37] kingst commented on #72
We're still very new to Carthage so there is probably a dependency that we need to setup to enable it. With cocoapods it was easy to have an optional dependency on Stripe, but we haven't looked into how to do it yet.

For the time being here is a [link to the function](https://github.com/getbouncer/cardscan-ios/blob/da77e36c49f1de4b678e7ecaab56cc1466602716/CardScan/Classes/ScanViewController.swift

[2019-09-02 06:46] Bing619 opened #73 "react native object-c can not working"
![屏幕快照 2019-09-02 14 44 05](https://user-images.githubusercontent.com/53731175/64095084-63829e00-cd90-11e9-9baa-e12fbc7a8428.png)

what can i do ?
thanks

[2019-09-02 10:52] kingst commented on #73
Here's a [stack overflow answer](https://stackoverflow.com/a/56176956/947883) that looks promising.

This is exactly how I handle the same errors when I have an objective-c native app that hasn't used a swift library previously, but I've never used react native so I'm not sure if this will work for you.

[2019-09-02 10:52] #73 closed

[2019-09-03 11:32] PiotrPawlus opened #74 "Unable to override ScanBaseViewController"
Both methods of protocol **ScanEvents** are marked as `public` in **ScanBaseViewController**. Due to this fact, we're not able to override these methods.

Is the possibility to change these methods to open?

[code]

[2019-09-03 15:04] kingst commented on #74
Hi @PiotrPawlus can you explain what you're trying to do? Most common uses of CardScan don't need to create their own ViewController and even those that choose to do so don't need to implement the `ScanEvents` protocol. Once I understand what you're trying to do I can try to provide some guidance.

[2019-09-03 15:20] PiotrPawlus commented on #74
I need to set a custom color for corner view, custom torch button's image and also provide localized strings when the user hasn't granted access the camera.

[2019-09-03 15:24] kingst commented on #74
These are all pretty reasonable UI adjustments. If we were to put options to adjust all of these in our main `ScanViewController` would you use it instead of needing to subclass `ScanBaseViewController`?

[2019-09-03 15:59] Sidetalker commented on #72
Thanks @kingst! I'll close this issue and will open up a PR if I find a way to make it work with Carthage.

[2019-09-03 15:59] #72 closed

[2019-09-04 05:30] PiotrPawlus commented on #74
Yes, sure. I also looked through requirements and we also need to handle no camera granted access by using our internal components.

[2019-09-10 11:38] yaakovgamliel commented on #74
I  was also trying to subclass `ScanViewController` I ended up making another class that sub-classes `ScanBaseViewController`, in my case I don't need to use delegates so overwriting:
[code]
Plus adding a `CornerView`, `BlurView`, `PreviewView` and passing a `UILabel` in order to satisfy the `CGRect` required for `regionOfInterestLabel`
A basic subclass from `ScanBaseViewController` looks like thi

[2019-09-14 19:05] josher93 opened #75 "Code is Swift 2.x and not 4"
I'm trying to install ScanCard in my project written in Objective-C. I installed the pod and when I open my workspace I get this message:

![Captura de Pantalla 2019-09-14 a la(s) 13 04 19](https://user-images.githubusercontent.com/7443269/64912707-3323f380-d6f0-11e9-94db-8315b8647f86.png)

I'm using XCode 10.1 and macOS Mojave 10.14.5

[2019-09-14 21:14] kingst commented on #75
This is strange, one of our test programs is objective C and I've been working closely with two large apps that are using this library and written in objective C and no one has experienced this error.

As far as I know our SDK only contains swift 4, 4.2, and 5 code with the appropriate gate to build correctly. The only difference I can see is that I'm using Xcode 10.3.

To help me reproduce this c

[2019-09-17 12:33] kingst commented on #74
Here's the first PR: https://github.com/getbouncer/cardscan-ios/pull/77

[2019-09-17 12:58] kingst commented on #74
And here's the second: https://github.com/getbouncer/cardscan-ios/pull/78

We'll do a deploy later today to bump the Cocoapod version, but I'm going to close this issue for now. Please re-open it if you have any changes you'd like for us to make.

[2019-09-17 12:58] #74 closed

[2019-09-17 16:31] josher93 commented on #75
I solved my issue! Thank you. This is what I did:

- Updated Xcode to 10.3
- Removed some useless pods
- Set a Swift version language for CardScan in pod's target like this:
![Captura de Pantalla 2019-09-17 a la(s) 10 25 33](https://user-images.githubusercontent.com/7443269/65060971-27297300-d936-11e9-82e0-78d159566daa.png)

This solved my problem

[2019-09-17 16:39] kingst commented on #75
👍

[2019-09-17 16:39] #75 closed

[2019-09-18 16:29] josher93 opened #79 "ScanViewController no 'configureWithApiKey' method"
I'm configuring CardScan in an Objective-C project.  The documentation says:

I want to set the Key but there is no `configureWithApiKey` method:
![Captura de Pantalla 2019-09-18 a la(s) 10 26 56](https://user-images.githubusercontent.com/7443269/65167049-0b3dd400-d9ff-11e9-945a-5cad0900b27f.png)

Only `configure` method:
![Captura de Pantalla 2019-09-18 a la(s) 10 25 42](https://user-images.githu

[2019-09-18 16:58] kingst commented on #79
We added this fairly recently, do you have the latest version of the library? The most recent Cocoapod is 1.0.5014

[2019-09-21 17:44] josher93 commented on #79
Ok, thank you! That solved my problem

[2019-09-21 17:44] #79 closed

[2019-09-24 15:05] sprzenus opened #85 "Performance and memory leaks"
After dismissing the view my custom subclass of `ScanBaseViewController` is leaking. Moreover, after dismissing the view before it loads makes CPU usage be still on ~30% on a real device when I dismiss the view. I think removing memory leaks of the `ScanBaseViewController` would do the thing

[2019-09-24 15:34] kingst commented on #85
I think I can see what's going on with the memory leak, I'll take a look at this today.

[2019-09-24 20:29] kingst commented on #85
I can't seem to reproduce the 30% issue and when I run the library through the memory checker it looks like I'm only leaking two small objects (see screen shot below). Can you help me reproduce what you're seeing?

![image](https://user-images.githubusercontent.com/474745/65547909-3e84d500-decf-11e9-8097-c286a554973b.png)

[2019-09-25 08:47] sprzenus commented on #85
We push our controller on a navigation controller's stack and we leaking the view controller just after poping to the previous view controller. The issue with CPU usage happens when I exit the view before the white view disappears and the camera view appears

[2019-09-25 13:11] kingst commented on #85
Before I dig in deeper about these issues, why are you subclassing ScanBaseViewController? We have a number of UI customizations that we make available for our ScanViewController, although we don't have documentation for them yet you can see them in use in the [example app here](https://github.com/getbouncer/cardscan-ios/blob/f6819c795b0110347c3c384ab7dcea80dc1bd4ac/Example/CardScan/ViewController

[2019-09-25 15:20] sprzenus commented on #85
Here you are: https://github.com/getbouncer/cardscan-ios/issues/74
We work on the same project

[2019-10-07 05:18] SandsHellCreations opened #86 "cardholder name always coming out to be empty string"
cardholder name always coming out to be empty string

[2019-10-07 12:25] kingst commented on #86
We haven't implemented name extraction yet.

[2019-10-07 12:25] #86 closed

[2019-10-14 21:57] waltersanford opened #89 "EXC_BAD_ACCESS on VideoFeed.swift line 104: session.addInput(videoDeviceInput)"
When trying to scan a credit card after using the camera, the video preview window appears empty and we get Thread 9: EXC_BAD_ACCESS (code=2, address=0x16db6fff8). The line of code that is failing is VideoFeed.swift, line 104: session.addInput(videoDeviceInput).

I've reproduced the error in CardScan - Example by adding a button that opens a standard UIImagePickerController. If you open the camera

[2019-10-14 22:20] kingst commented on #89
Thanks for the bug report, Walter. We're on it.

@jaimejiyepark can you take a look?

[2019-10-14 22:20] jaimejiyepark commented on #89
taking a peek now! let me see if i can reproduce this.

[2019-10-14 22:41] waltersanford commented on #89
PR for fix is here: https://github.com/getbouncer/cardscan-ios/pull/90

[2019-10-14 22:46] waltersanford commented on #89
Here is the example app with the changes needed to take photos:
[Example.zip](https://github.com/getbouncer/cardscan-ios/files/3726676/Example.zip)

[2019-10-14 22:47] jaimejiyepark commented on #89
Thanks Walter! Taking a look now.

[2019-10-16 18:56] jaimejiyepark commented on #89
Hey @waltersanford ,
I was not able to reproduce your error with your example and with my own implementation with your description or the error.

[2019-10-16 19:26] jaimejiyepark commented on #89
Is there another way to reproduce the error?

[2019-10-16 19:42] waltersanford commented on #89
Interesting, I wonder if its device specific. What device are you testing on? I'll try it on several here.

[2019-10-16 20:09] jaimejiyepark commented on #89
I am testing on my iPhone 8 Plus + iOS13. How about you?

[2019-10-16 20:19] waltersanford commented on #89
Here is what I have so far:
iPhone Xs Max (13.1.2) - EXC_BAD_ACCESS
iPhone 6s Plus (12.4.1) - not happening

[2019-10-16 20:43] waltersanford commented on #89
I've updated that original iPhone Xs Max to 13.1.3 and I still get the error. I'll track down another similar device and see if I can reproduce it there.

[2019-10-16 22:47] jaimejiyepark commented on #89
I will also try to run it on an iPhone Xs Max. Will get back to you shortly.

[2019-10-17 02:34] waltersanford commented on #89
I just tried it on an iPhone Xs (13.1.2). I couldn't reproduce the crash in the same way but I was able to cause it to crash using a different set of steps: In my version of the Example app I opened the Scan window 3 times (tapping the Scan Card button, then the Back button) and then tapped the Take Photo button.

[2019-10-17 02:45] waltersanford commented on #89
Good news. Applying the fix in my PR fixes the second crash too. I'm calling it a second crash because it's also an EXC_BAD_ACCESS with code=2 but it doesn't have the same stack trace.

[2019-10-17 03:10] waltersanford commented on #89
So far it's only reproducible on the iPhone Xs and Xs Max. It doesn't happen on the iPhone 8, iPhone 6s Plus or the iPad Air 2.

[2019-10-23 20:01] jaimejiyepark commented on #89
Hey @waltersanford.
Sorry for taking so long getting back to you. After being able to reproduce your error and testing it ourselves, it looks like your fix works! Thank you and we will be closing this issue now.

[2019-10-23 20:01] #89 closed

[2019-11-20 15:15] joergbirkhold opened #96 "License"
As read the license there is no limitation to use the sdk in commercial projects, as long as we do not require support or customizations?

[2019-11-21 01:48] kingst commented on #96
Hello! Here's a link to [our license](https://github.com/getbouncer/cardscan-ios/blob/master/LICENSE), it's the BSD 3 clause open source license. I'm not a lawyer so I'm hesitant to comment on limitations here in github, but it's a fairly common and standard license and there should be a number of good resources available to learn about it.

[2019-11-21 01:48] #96 closed

[2019-11-26 08:53] pawanline opened #98 "Enhancement: Need to scan name from the Card.How can I achieve this?"

[2019-12-02 18:24] kingst commented on #98
I saw that you submitted a PR, but it was kind of hard to tell what was going on because it included a bunch of our changes as well.

Can you explain a little more about what you have found in your testing? I'm open to this.

[2019-12-03 04:08] pawanline commented on #98
First of all thanks for reply,Please ignore PR , I have submitted. during my testing, I found that I am unable to get name from the card scanned.I have also need of user name in my project implementation.
Now , I have get the name from the scanned card using VNRecognizeTextRequests and NSLinguisticTagger. I want to contribute to this project Please let me know from which branch I have to create pu

[2019-12-11 12:05] ruchinsomal opened #105 "UI issue in iPhone11 pro max"
Please have a look at the issue in iPhone11 pro max, I am attaching a screenshot for your reference
![Simulator Screen Shot - iPhone 11 Pro Max - 2019-12-11 at 17 34 34](https://user-images.githubusercontent.com/12675398/70620197-96181e80-1c3c-11ea-8577-79c15ea65864.png)

[2019-12-11 12:13] kingst commented on #105
Which version of the cardscan cocoapod are you using?

[2019-12-11 12:16] ruchinsomal commented on #105
CardScan (1.0.5022)

[2019-12-11 19:39] jaimejiyepark commented on #105
Hello @ruchinsomal!
Can you give us more details on how you instantiate the `ScanViewController` so we can reproduce the error? (i.e. pushing it onto a navigation controller, using a zoomed screen)

[2020-01-13 23:54] bstillitano commented on #86
Any ETA on implementing name functionality?

[2020-01-14 00:07] jaimejiyepark commented on #86
Hello @bstillitano,
We're currently working on the ML side of name extraction, so it is difficult to give a concrete ETA. But we will have it soon so make sure to watch the repo for any updates!

[2020-01-16 23:45] Sidetalker opened #112 "Release 1.0.5024 breaks Carthage"
[Release 1.0.5024](https://github.com/getbouncer/cardscan-ios/releases/tag/1.0.5024) breaks Carthage compatibility.

Carthage error message: `Dependency "cardscan-ios" has no shared framework schemes for any of the platforms: iOS`

I may have time to look at this myself, just wanted to file an issue asap - for the time being I'm using 1.0.5023.

[2020-01-17 00:27] jaimejiyepark commented on #112
Hello! Have you tried re-clicking `shared` in your project schemes in your workspace then building?

[2020-01-29 21:29] kingst commented on #112
@Sidetalker I'm going to close this, please let us know if you are still having issues.

[2020-01-29 21:29] #112 closed

[2020-01-29 21:30] kingst commented on #105
@ruchinsomal is this still an issue for you?

[2020-01-29 21:31] #85 closed

[2020-01-29 21:31] kingst commented on #85
closing this issue, please let us know if this is still a problem

[2020-01-30 13:33] cmvagner commented on #112
I'm having the same issue.
Release 1.0.5023 does work with Carthage.

[2020-01-30 17:19] pawanline opened #115 "ScanViewController is not opening on iPhone 6 and iPhone6plus real device iOS version 12.4"
Please look into this asap.
<img width="1440" alt="Screenshot 2020-01-30 at 10 40 37 PM" src="https://user-images.githubusercontent.com/15170689/73473406-b8aff380-43b2-11ea-9da6-26432ccc4bc8.png">

[2020-01-30 17:49] jaimejiyepark commented on #115
Hello @pawanline,
Can you tell me what CardScan version you are using and any error messages if you got any?

[2020-01-30 17:52] pawanline commented on #115
latest I guess , pod 'CardScan' xcode 11.2.1

[2020-01-30 17:52] pawanline commented on #115
I am getting this on cosole
   print("This device is incom patible with CardScan")

[2020-01-30 18:02] jaimejiyepark commented on #115
Just making sure but do you have this in your configuration before you instantiate the view controller? This allows scanViewController to be used with older devices.

[code]

[2020-02-03 05:37] pawanline commented on #105
I think , this is resolved now.

[2020-02-03 11:21] cmvagner commented on #112
In version 1.0.5024 "Example/Pods/Pods.xcodeproj/xcshareddata/xcschemes/CardScan.xcscheme" was removed. I can't find any other shared scheme checked into the repo which Carthage can use.

[2020-02-03 20:03] jaimejiyepark commented on #112
We're sorry about that! Our carthage build does seem to break in this version. If you don't mind, we have a more updated version available for you to use: version 1.0.5028.

[2020-02-03 22:09] Tronicnotes opened #119 "Enhancement: Support for Swift Package Manager"
Is there support for [Swift Package Manager](https://swift.org/package-manager/) available down the pipeline?

[2020-02-03 23:46] kingst commented on #119
Yes, for sure. I don't have a concrete date as to when it'll ship, but it's on our radar and something that we will support in the future.

[2020-02-04 08:28] cmvagner commented on #112
I'm still getting ```Dependency "cardscan-ios" has no shared framework schemes for any of the platforms: iOS``` for version 1.0.5028.

[2020-02-07 01:56] kevincam opened #122 "Orientation problems on iPad"

[2020-02-07 21:50] kingst commented on #122
@kevincam I'm going to reopen this issue. It's something that we know about but haven't figured out a good solution to yet. From a high level the right way to handle it is to get the UI to adapt to either orientation but my hope is that there is a way that we could pin the UI to portrait mode on the iPad like we do on the iPhone.

I'll do a little digging and report back, but please do let us know

[2020-02-07 21:52] kevincam commented on #122
I found a partial fix by modifying PreviewView and adding:

`let orientation = UIDevice.current.orientation
  if let videoOrientation = AVCaptureVideoOrientation(rawValue: orientation.rawValue) {
     layer.connection?.videoOrientation = videoOrientation
  }`

After setting gravity in `layer.videoGravity = .resizeAspectFill`. This works but it can be a bit twitchy since it decides to switch orient

[2020-02-07 22:00] kingst commented on #122
would you be open to submitting a PR? I'm happy to take a look and see if we can help refine it as well

[2020-02-07 22:10] kevincam commented on #122
Sure I'll do that. Unfortunately this is only a partial fix since it seems to break the actual ML recognition of the card. I'm guessing the stream needs to be reoriented somewhere as well and this only changes the preview layer.

[2020-02-08 01:38] kevincam commented on #122
I've got the video capture changing orientations based on what you start with by altering the .portrait set in VideoFeed.swift, but not changing on the fly.

[2020-02-13 19:53] jaimejiyepark commented on #112
Hello @cmvagner and @Sidetalker!

[2020-02-14 13:49] #115 closed

[2020-02-14 13:50] #105 closed

[2020-02-15 09:56] cmvagner commented on #112
Hello @jaimejiyepark
Just tried building with Carthage using latest commit 613afb948185d211fdee1cf3a6103cb841df11c0 and now it works. Thank you!

[2020-02-18 11:30] keyurpatel4707 opened #130 "all non embosed card not getting scan only some are working"
I downloaded your iOS demo. all non embosed card not getting scan only some are working. can you please check because for android it is working fine for all card.

[2020-02-18 14:59] kingst commented on #130
Would you mind posting a picture of a card that doesn't work? I'd black out the everything except the last 4 digits.

However, the Android OCR model is a bit ahead of our iOS model, so I'm not surprised that it's performing a bit better.

[2020-02-18 15:06] kingst commented on #130
I can't commit to specific timing for the new OCR model to come to iOS, but it'll happen as soon as we get enough data to confirm that it's working well and that we have a model for extracting expiry well with the new model (Android currently doesn't have expiry support, which iOS does have)

[2020-03-02 02:49] Tronicnotes opened #132 "Enhancement: Customise scanning title and message"
* Adding the ability to customise title and message allows for translations/localisations.

[2020-03-02 02:55] #132 closed

[2020-03-02 02:55] Tronicnotes commented on #132
Realised this is already available via datasource

[2020-03-04 13:05] arbitur opened #134 "CardScan class same name as module CardScan"
I just updated from an older version (from october) to the previous version `1.0.5029` and I get a new error caused by name conflicts.

In my app I have a custom class called `CreditCard` (same as in module CardScan) so I have to distinguish them apart by prefixing `CardScan.CreditCard`.

The problem now is I see a new class (introduced in #114) `CardScan`.

This breaks my code and I can no longer

[2020-03-04 14:13] kingst commented on #134
@jaimejiyepark we're using the CardScan class only for handling bundle updates, and I believe that we have only one app using this thus far so it is safe to change. I think this is a reasonable request, can you pick this up?

[2020-03-04 20:34] jaimejiyepark commented on #134
Hello @arbitur,
Thank you for bringing this up with us.
I wanted to let you know that the CardScan class name change is pushed to master.

[2020-03-04 20:34] #134 closed

[2020-03-10 16:11] brianrjames commented on #119
Seconding the request for Swift Package Manager. It's so much nicer than cocoapods. We've started moving all of our 3rd-party libraries to SPM, when available.

[2020-03-10 18:47] jaimejiyepark commented on #122
Hey @kevincam,
We finally got around to it and the solution is to put this into your AppDelegate. The patch live in master right now.

[code]
Thank you so much for bringing to our attention. We appreciate it and hope this solves your issue!

[2020-03-19 11:06] priyankastridhyatech opened #141 "Sometime getting wrong valid thru or expire date"
Hello team,

I am facing issue while i am scanning emboss card will not get right expire date

[2020-03-19 14:34] kingst commented on #141
Would you mind sharing an image of your card that it's struggling with? Which version of the library are you using? We did make some adjustments in version `1.0.5029` to address this (https://github.com/getbouncer/cardscan-ios/blob/master/CHANGELOG.md#105029-2020-02-11)

But, this is still a known issue and something that we're actively working on. Hang tight for a week or two and we'll hopefully

[2020-04-28 09:44] mramesh528 opened #152 "Card Type in iOS"
Hi Team,

Please can you let me know how to get card type in iOS, in android we have network as a field to get the card type.

[2020-04-28 12:12] kingst commented on #152
for iOS you can call this utility function to get the card network:

https://github.com/getbouncer/cardscan-ios/blob/8e99e843dc5e8309eb27fe2226754cb07bd19aa2/CardScan/Classes/CreditCardUtils.swift#L227

[2020-04-28 12:13] #141 closed

[2020-05-13 21:27] kingst commented on #152
Marking as closed, @mramesh528 let us know if you need any further clarification or if I missed something.

[2020-05-13 21:27] #152 closed

[2020-05-13 21:28] kingst commented on #130
Marking as closed, we improved our OCR recently I'd check out the master branch to see if it improves things for you.

[2020-05-13 21:28] #130 closed

[2020-05-13 21:29] kingst commented on #98
We added this feature recently, it's in master if you want to play with it now or you can wait until our next release, which I expect to go out next week.

[2020-05-13 21:29] #98 closed

[2020-08-07 10:57] akhakimzyanov opened #202 "Update payment systems"
We have trouble, that card with prefix number 2200 doesn't recognizing. It is Russian payment system, prefix = 220. Can you add it please to CardUtils for recognizing. https://en.wikipedia.org/wiki/Mir_(payment_system)

[2020-08-07 10:59] akhakimzyanov commented on #202
Here is list of actual card numbers https://en.wikipedia.org/wiki/Payment_card_number

[2020-08-07 13:19] kingst commented on #202
This is a reasonable request, let me propose something and get your feedback

[2020-08-07 19:07] #202 closed

[2020-08-07 19:08] kingst commented on #202
We added an explicit `addMirSupport` function to the `CreditCardUtils` class in addition more general support for regional cards, it'll be in our next release. Thanks for the feedback!

[2020-08-07 19:14] akhakimzyanov commented on #202
Thanks! Nice solution!

[2020-09-01 03:40] pradeep-cash commented on #119
When we can expect SPM support?

[2020-09-01 14:19] kingst commented on #119
The main thing that we're waiting for is to have automation in place to test all of our dependency manager support. Once we can test cocoapods and carthage automatically, then we'll add SPM support. Since we're a small team, we try to keep support for this sort of thing to a minimum.

I don't have an exact date for when this support will land, is this a critical feature or something that would be

[2020-09-16 07:35] kaneli8759 opened #218 "Can I custmor card type?"
Can I custmor card type?
like this...
123456 000000 999999

[2020-09-16 08:23] awushensky commented on #218
Hi @kaneli8759 , you can add support for any regional cards by calling `CreditCardUtils.prefixesRegional += ["123456"]`. This will support scanning cards that begin with `123456` and pass the luhn check.

[2020-09-17 04:01] kaneli8759 commented on #218
@awushensky thanks for reply
And I have another question.
I need to recognize 16 to 18 digits, but doesn’t need to follow the luhn algorithm

Is there a way to simply identify 16 to 18 digits?

[2020-09-18 20:04] awushensky commented on #218
Hi @kaneli8759 , unfortunately we use the Luhn check to verify the accuracy of the scan, so we are not able to just scan digits without some form of check.

[2020-09-21 03:05] kaneli8759 commented on #218
ok. thank you  very much for reply

[2020-09-21 03:05] #218 closed

[2020-10-02 10:33] nickjf89 opened #226 "Enhancement: right bar button item"
We are using CardScan in our app, and we are presenting the `ScanViewController` modally, embedded in a navigation controller. The navigation controller is hidden by `ScanViewController`, which is understandable, but our app has rules around modally presented view controllers whereby we always show an X button to close in the top right. Obviously, you provide a back button (outside of a navigation

[2020-10-02 10:38] kingst commented on #226
Check out our [UI Customization docs](https://docs.getbouncer.com/card-scan/ios-integration-guide/ios-customization-guide), you may want to consider using the `SimpleScanViewController` which we designed for full UI customization.

Do you think this will work for you?

[2020-10-02 11:08] nickjf89 commented on #226
Thank, I'll take a look. Does this allow us to set an image on the torch button, or just text? And also, will the back button chevron still be visible if we provide no string for that button?

[2020-10-02 11:29] kingst commented on #226
You should be able to change everything to customize it for your needs. Let us know in Slack if you have any questions.

[2020-10-08 18:46] julioarregoitia opened #228 "Add Support to Swift Package Manager"
It's pretty simple my issue. Just add support to Swift Package Maneger. Best regards.

[2020-10-08 20:49] jaimejiyepark commented on #228
Hello!
We are currently working to have automation in place to test all of our dependency manager support. Once we can test cocoapods and carthage automatically, then we'll work on adding SPM support.

We're a really small team so it may take some time for this support to land but SPM support will come!

Thank you for understanding!

[2020-10-09 00:16] julioarregoitia commented on #228
Okey thanks. I understand. Happy coding.

[2020-10-09 00:16] #228 closed

[2020-10-14 09:07] LusineSargsyan commented on #22
Hi I'm trying to customize texts but it's not possible (, is there any way to customize for localization?

[2020-10-14 09:11] LusineSargsyan commented on #22
oh, sorry I find answer for my question ). thank you
for others who will have same issue ) you should conform protocol ScanStringsDataSource

[2020-11-18 03:41] jessehao opened #234 "Why restrict iOS version to iOS 11.2+"
In `ScanBaseViewController.captureOutputWork(sampleBuffer:)` - line 342, there is an iOS version constraint and I cannot figure it why.

And I can't found any calls to iOS 11.2+ API of `SSDCreditCardOcr`.
So why there is an iOS 11.2+ Constraint ?

[2020-11-18 03:52] kingst commented on #234
At some point there is a call to CoreML models which require iOS 11.2+, and the compiler surfaces these all the way up statically.

[2020-11-18 07:51] jessehao commented on #234
What would happen if I use this in iOS 11.0 without the constraint? crash or nothing happens?

I don't have any devices runs on iOS 11.0 😓

[2020-11-18 11:26] kingst commented on #234
Fortunately not many people have devices that run iOS 11.0 :)

We don't allow you to create a ViewController if your device is unsupported, you can see this [here](https://github.com/getbouncer/cardscan-ios/blob/9c8e4215e54d999b2621af12aed1e91c339aacd0/CardScan/Classes/ScanViewController.swift#L146) with our `ScanViewController` and [here](https://github.com/getbouncer/cardscan-ios/blob/9c8e4215e5

[2020-12-03 01:53] kingst commented on #234
Closing this issue, please let us know if you'd like further clarification

[2020-12-03 01:53] #234 closed

[2020-12-03 01:55] kingst commented on #226
Closing this issue, please let us know if you still have questions on UI customization -- happy to help

[2020-12-03 01:55] #226 closed

[2020-12-03 01:56] kingst commented on #119
We're working on this now -- we plan to have SPM support by the end of the month

[2020-12-04 07:28] dilshodzopirov opened #239 "Card Prefixes for Uzbekistan Cards"
Can you please add "8" and "9" prefixes to CreditCardUtils? In Uzbekistan card numbers starts with "8" and "9"

[2020-12-04 14:53] kingst commented on #239
Hi @dilshodzopirov You can set the appropriate prefixes using our `regional prefixes` feature: https://docs.getbouncer.com/card-scan/ios-integration-guide/card-support#adding-regional-issuers

As long as these cards pass the Luhn check and are 16 digits this should be all you need to support Uzbekistan cards.

[2020-12-22 17:17] kingst commented on #119
It's done https://docs.getbouncer.com/card-scan/ios-integration-guide

[2020-12-22 17:17] #119 closed

[2020-12-22 17:18] kingst commented on #239
Let us know if you have any further questions by re-opening this issue. From what I can tell your regional issuers feature should support your use case, so I'm closing this issue.

[2020-12-22 17:18] #239 closed

[2021-02-09 23:14] julioarregoitia opened #260 "Error Uploading to App Store"
I adapted CardScan from Carthage to Swift Package Manager, removed the reference to `/ usr / local / bin / carthage copy-frameworks` that belonged to` CardScan` now when uploading the app the next error appears. (see the next image)

If you can, try including CardScan with Swift Package Manager in an app and try uploading the Build to the App Store
<img width="629" alt="Captura de Pantalla 2021-02

[2021-02-09 23:27] jaimejiyepark commented on #260
Hello @julioarregoitia,
Let take a look for you. Can you tell me what version of `CardScan` you are trying to use?
Also from the looks of the first build error, it looks `CardScan.framework` is not in the folder `Frameworks`. If you haven't already, please give [this solution]( https://www.simpleswiftguide.com/how-to-add-xcframework-to-xcode-project/) a try!

[2021-02-09 23:57] julioarregoitia commented on #260
First of all thanks for answering:
- We use version 2.0.7
- I will try the .xcframework solution (although I use other Frameworks with SPM and this error had not happened to me, but I will try and tell them)
- Yes, the entire Derived Data folder was deleted, the Mac was restarted and everything was compiled again

<img width="287" alt="Captura de Pantalla 2021-02-09 a la(s) 6 54 17 p  m" src="http

[2021-02-10 00:07] julioarregoitia commented on #260
I reread the CardScan installation instructions (https://docs.getbouncer.com/bouncer-scan/credit-card-ocr/ios-integration-guide#installation) for `SPM` and made sure I was doing this, at the end of the process `CardScan` is added as shown in the image. What is the relationship with .xcframework for your case ???

<img width="700" alt="Captura de Pantalla 2021-02-09 a la(s) 7 04 27 p  m" src="https

[2021-02-10 00:20] julioarregoitia commented on #260
By the way, in this part of here you quote `https://github.com/getbouncer/cardscan-ios/git` , but I got an error with this. I think must be `https://github.com/getbouncer/cardscan-ios.git` , it is a *dot* before the *git* word

<img width="749" alt="Captura de Pantalla 2021-02-09 a la(s) 7 18 03 p  m" src="https://user-images.githubusercontent.com/35386842/107445989-8bd90500-6b0b-11eb-8eea-9504976

[2021-02-10 00:23] jaimejiyepark commented on #260
Thank you for pointing error out in the docs, I will fix it ASAP. Can you check `Build Phase -> Link Binary with Libraries` to see if `CardScan` is there? Also I will provide an example app below. Please let me know if you can run it on your machine.

[CarthageBuildTest.zip](https://github.com/getbouncer/cardscan-ios/files/5955010/CarthageBuildTest.zip)

[2021-02-10 00:40] julioarregoitia commented on #260
The example run it here

![Captura de Pantalla 2021-02-09 a la(s) 7 40 08 p  m](https://user-images.githubusercontent.com/35386842/107447929-9f399f80-6b0e-11eb-981b-db9994bb4325.png)

[2021-02-10 00:43] julioarregoitia commented on #260
And in my project `CardScan` also exist in the path `Build Phase -> Link Binary with Libraries`
Any other idea??

![Captura de Pantalla 2021-02-09 a la(s) 7 41 09 p  m](https://user-images.githubusercontent.com/35386842/107447993-c3957c00-6b0e-11eb-806d-d7c39a82670d.png)

[2021-02-10 19:59] kingst commented on #260
Hi @julioarregoitia let me lean in to help out with this. To answer your earlier question, yes, we've had many apps that have shipped the latest version of our SDK to the app store, so we do know that it's possible and I just uploaded one of our test apps that uses SPM to double check.

Based on the error message that you posted originally it looks like there are two copies of CardScan in your app

[2021-02-10 21:21] julioarregoitia commented on #260
I already deleted the entire `DerivedData` folder that contained all the files that Xcode stores. I checked in my project folder if there was still any `CardScan` and nothing there either.
I reopened the project to load all the SPM files and still when doing the ** Archive ** it appears double `CardScan` as you can see in the next image  🤷‍♂️🤷‍♂️

<img width="746" alt="Captura de Pantalla 2021-02-

[2021-02-10 21:49] julioarregoitia commented on #260
I really don't understand what is the problem your project has with `SPM`. I removed the version of `SPM` and added the manual project and so if it works well as you can see in the images.
**I repeat, it has not been fixed with `SPM`, if manual is added it works fine, if it is added with` SPM` it does not work**

<img width="744" alt="Captura de Pantalla 2021-02-10 a la(s) 4 44 53 p  m" src="https

[2021-02-10 23:04] kingst commented on #260
Can you open the `Carthage` directory to see if there is still a stray copy of CardScan there?

[2021-02-11 00:16] julioarregoitia commented on #260
Thanks guys, I don't know what it is. I made the `Archive` of your example and it had no problem.
  In the project folder there was nothing of `CardScan`, in` DerivedData` neither is there.
I went to ** plan B ** and downloaded the source code, compiled it with ** Carthage ** (which now allows generating the .XCFrameworks) and added it to the project. Thanks for your support and effort, I don't kn

[2021-02-11 00:16] #260 closed

[2021-02-11 02:41] kingst commented on #260
Glad that worked, I suspect that there is a strange interaction with Carthage and SPM, I'll keep my eyes out for anything else that pops up.

[2021-02-18 06:48] julioarregoitia opened #261 "Rare crash on an iPhone SE(2nd Generation)"
Hello, i have this strange crash with the flag SIGABART(in DEBUG mode) when I try to assign any value to the instance of `ScanViewController` (CardScan version 2.0.7).

![Captura de Pantalla 2021-02-18 a la(s) 1 43 00 a  m](https://user-images.githubusercontent.com/35386842/108316235-a3a72d80-718a-11eb-85f9-ab08e375a0cc.png)

That only happen in a real device, the iPhone SE(2nd Generation), iOS 14

[2021-02-20 13:57] kingst commented on #261
Hi @julioarregoitia I'm going to take this issue on personally. I have an iPhone SE 2nd generation, let me spin it up and see if I can reproduce your crash.

[2021-02-24 08:25] sha8wn opened #262 "QUESTION / ENHANCEMENT: Deny certain fields from being scanned"
Hello CardScan team,

I have the SDK up and running and it works well.

I am not sure if this is the right place to ask this, but right now when I scan the credit card, it scans all the relevant data as expected.

However, for my application, I only need the CC number. While I can handle that on the UI side of my app to show only the relevant fields, for a brief moment, on the Card Scanner Control

[2021-02-24 13:22] kingst commented on #262
Which ViewController are you using? There should be a way to customize the UI that we provide to have the same net effect of what you're looking for, but it's a little different between `ScanViewController` and `SimpleScanViewController`

[2021-02-25 17:49] sha8wn commented on #262
I am using CardScan via VGS so what I use is something called ```VGSCardScanController```. I believe under the hood it is using ```ScanViewController```

[2021-02-28 15:19] kingst commented on #262
Hi @sha8wn from a systems and efficiency perspective we would run the exact same machine learning even if you were interested in only the card number. Are you looking for a way to hide the expiry UI view when the scanning process is happening, or were you more interested in improved performance due to scanning fewer entities?

[2021-02-28 16:32] sha8wn commented on #262
Hello @kingst - for my application, the performance seems fine, hiding the view should suffice for now.

[2021-03-03 02:11] kingst commented on #261
@julioarregoitia I tried it out on my iPhone SE (2nd generation) and it worked fine. Can you send us more information about the crash itself? The screen shot doesn't say anything about why it crashed.

[2021-03-07 01:55] julioarregoitia commented on #261
Don't worry then. I put a try-catch with the help off Objective-C, so just keep working in your things. Thanks for the hard work. Best regards

[2021-03-07 01:55] #261 closed

[2021-03-30 09:19] mihirmodiofficial opened #267 "No such module 'CardScan'"
In iOS after installing latest version pods, Its showing error "No such module 'CardScan'"
latest version is '2.0.3'
previous version '1.0.5032' was not showing the above error

[2021-03-30 17:33] jaimejiyepark commented on #267
Hello @mihirmodiofficial,
I would love to help you out. Does the error persist after you clean + build your project?

[2021-03-31 05:34] mihirmodiofficial commented on #267
Yes i tried but the error is still showing

[2021-04-01 16:48] jaimejiyepark commented on #267
Interesting. I was able to build and run `CardScan 2.0.3` with XCode 11.  Can I see your Podfile?

[2021-04-10 05:13] collinvargo commented on #72
I'm getting no such module errors for 'import CardScan' after upgrading CardScan to latest version. Can't find anything about this in the documentation as it's a well overdue update... any help?

[2021-04-10 11:20] kingst commented on #72
Hi Collin, Are you using Carthage? If so, we dropped support for it when we updated to our 2.0 version. We support:

- Swift Package Manager
- Cocoapods
- Manual installation by dragging and dropping our xcframework

Here is a link to our [docs](https://docs.getbouncer.com/bouncer-scan/credit-card-ocr/ios-integration-guide#installation) for more information.

[2021-04-10 11:27] collinvargo commented on #72
No. We're using pods & the stripe extension, actually. I was able to get it working. It was just a pod dein issue, luckily.

[2021-04-10 11:27] collinvargo commented on #72
Thanks for the timely reply and the resources :) Have a great weekend.

[2021-04-30 01:24] ebellumat opened #275 "How to customize the overlay?"
The lib works pretty well, but the customization link on the docs is broken.

How to customize the overlay?

We're trying to put a style like this:

![image](https://user-images.githubusercontent.com/26942680/116637233-b59b0e80-a939-11eb-9f98-83fdc99f2bc3.png)

[2021-05-01 15:38] ebellumat commented on #275
I'm using https://github.com/getbouncer/react-native-cardscan, in this case, i have to fork this library and add my customization? Thank you for your time.

[2021-05-27 12:07] tolibovumid opened #282 "Expire month and year not read"
I have use this library to scan my cards. But sometimes library can't read expire month and year. How can I fix it?

[2021-05-27 14:12] jaimepark-stripe commented on #282
Hi @tolibovumid!
Our expiration extraction is only supported from iOS 13.0. Is your device iOS 13.0+?

[2021-05-27 17:03] tolibovumid commented on #282
Yes. My device iOS version is -14.4.2

[2021-06-04 19:43] jaimepark-stripe commented on #282
The scanning loop completion is solely dependent on finding the PAN. This means that there are cases when the expiration is not found quickly enough before the scanning ends.

One workaround to this problem is configuring the scanning to be `accurate` instead of `fast`. We recommend setting the older devices to `accurate` if you prioritize extracting the expiration. Here is a [link to the doc](htt

[2021-06-09 19:06] watheeq123 opened #284 "Name and expiry not picking"
I am trying the demo project but the Name and expiry not picking. Any help?

[2021-06-09 19:15] kingst commented on #284
Name and expiry are only supported on iOS 13+. If your device is running iOS 13 or higher, you can try setting the `scanPerformancePriority` property on the `SimpleScanViewController` to `.accurate`. It defaults to `.fast`, which prioritizes scanning the card number quickly over scanning all card details.

[2021-06-09 19:15] #284 closed, assigned to nobody

[2021-06-09 19:16] kingst commented on #284
Also, here is a link to our docs where we explain it in more detail: https://docs.getbouncer.com/bouncer-scan/credit-card-ocr/ios-integration-guide/advanced-customization#configuration

[2021-06-09 19:17] kingst commented on #282
Closing this issue for now, please re-open if you continue to have problems.

[2021-06-09 19:17] #282 closed

[2021-06-09 19:18] kingst commented on #267
It looks like this issue hasn't had any activity in a while, I'm closing it for now but please re-open it if this continues to be problematic.

[2021-06-09 19:18] #267 closed

[2021-06-09 19:19] kingst commented on #262
Closing this issue as there hasn't been any activity on it for a while. Please re-open this if this continues to be a problem.

[2021-06-09 19:19] #262 closed

[2021-06-10 19:09] watheeq123 commented on #284
I am on ios 14.5.1 but will try changing the setting and let you know.

[2021-06-22 20:12] kishinmanglani commented on #267
Also having this issue

[2021-09-22 05:52] iosdevronak opened #290 "Trying to scan the card but app crashes in iPhone 8"
I have implemented this code and while running app on iPhone 11 its working properly, scans card number , expiry month and expiry year. But when running app in iPhone 8 while scanning I only get the card number and expiry year & month is getting nil.
Is this issue is device specific?

[2021-09-22 06:06] #290 closed

[2021-09-22 07:23] kingst-stripe commented on #290
Try switching to [accurate mode](https://docs.getbouncer.com/bouncer-scan/credit-card-ocr/ios-integration-guide/advanced-customization), it'll help a lot with older phones.

With that being said I wouldn't expect to get the expiry or name every time, but with accurate mode you'll get it more often on old devices.

[2021-09-22 07:24] kingst-stripe commented on #290
Closing this issue, please re-open this ticket if accurate mode doesn't help

[2021-09-30 17:15] cvcoder1 opened #291 "Feature Request: Mac OS Catalyst Compatibility"
If you could please enable Mac OS Catalyst Compatibility, as the Stripe cocoa pods library has, that would be greatly appreciated. Cheers from Belgium :)

[2021-10-04 19:49] kingst-stripe commented on #291
Thanks for reaching out, @cvcoder1! We have a few internal Mac Catalyst apps that use this, but we haven't put it into our production pipeline yet. Once we're fully integrated with Stripe we will support Mac Catalyst, but for now you'll have to build it yourself and copy the xcframework in manually. Let us know if you'd like feedback on how to do this, but it involves downloading our code and buil

[2021-10-04 19:49] #291 closed

[2021-10-08 17:55] mobileAI311 opened #292 "Trial license"
Hi.
Web portal for trial license doesn't work.
Can you check it please?
Thanks.

[2021-10-08 17:56] #292 closed, assigned to nobody

[2021-12-29 08:32] RobertMietelski opened #293 "Carthage failed with exit code 74"
I would like to add the `cardscan-ios` library to my project using Carthage. I used the example found [here](https://github.com/getbouncer/cardscan-carthage-example)
After running `carthage update` command in terminal I get error:
[code]
<img width="568" alt="Zrzut ekranu 2021-12-29 o 09 29 42" src="https://user-images.githubusercontent.com/9719324/147642424-bfacb119-fc21-40e1-bbb7-147751f73734.pn

[2021-12-29 09:08] kingst-stripe commented on #293
Hi @RobertMietelski, we dropped support for Carthage with our version 2 release. If CocoaPods and Swift Package Manager don't work for you, you should be able to load our release binary into your project manually. You can find it by navigating to a release tag in github and pulling the URL out of the `Package.swift` file. Here is the [`Package.swift` file for release 2.1.2](https://github.com/getb

[2021-12-29 09:08] #293 closed

[2022-03-26 16:00] thecavilnator commented on #291
I think this has been completed.

[2022-08-12 12:55] pooja1bhatia opened #295 "Crashes on SwiftUI"
Hii,

This library works fine for storyboard projects, but it crashes in SwiftUI. I integrated ScanViewController in swiftUI by using UIViewControllerRepresentable. But when I click on the button to open it the App crashes.

I’m attaching my scanner file.Please review it and let me know if I’m doing something wrong.

[CardScanner.swift.zip](https://github.com/getbouncer/cardscan-ios/files/9316400/

[2022-08-12 18:14] jaimepark-stripe commented on #295
Hello @pooja1bhatia!
Thank you for the example file you provided. Let me try to reproduce the crash you mentioned and get back to you.
Do you mind providing me the iOS and XCode version you used?

[2022-08-16 05:09] pooja1bhatia commented on #295
Hii @jaimepark-stripe
Xcode version is 13.1
Mac OS Version is 11.6.1
iOS version is 15.2

[2022-08-24 13:11] #295 closed, assigned to nobody

[2022-08-24 13:12] pooja1bhatia commented on #295
The issue is fixed by replacing ScanViewController() to ScanViewController.createViewController(withDelegate: nil)
Thanks!